html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2
{
    font-family:CenturyGothic;
    font-size: 24px;
}
.left
{
   float:left;
}
.right
{
    float:right;
    text-align: right;
}
.leftarrow {
    position: relative;
    background: #7aa4bf;
    border: 4px solid #aec9db;
}
.leftarrow:after, .leftarrow:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.leftarrow:after {
    border-color: rgba(122, 164, 191, 0);
    border-right-color: #7aa4bf;
    border-width: 40px;
    top: 50%;
    margin-top: -40px;
}
.leftarrow:before {
    border-color: rgba(174, 201, 219, 0);
    border-right-color: #aec9db;
    border-width: 46px;
    top: 50%;
    margin-top: -46px;
}
.rightarrow {
    position: relative;
    background: #7aa4bf;
    border: 4px solid #aec9db;
}
.rightarrow:after, .rightarrow:before {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.rightarrow:after {
    border-color: rgba(122, 164, 191, 0);
    border-left-color: #7aa4bf;
    border-width: 40px;
    top: 50%;
    margin-top: -40px;
}
.rightarrow:before {
    border-color: rgba(174, 201, 219, 0);
    border-left-color: #aec9db;
    border-width: 46px;
    top: 50%;
    margin-top: -46px;
}
#header
{
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	background-color:white;
	border-bottom:solid 2px black;
    -webkit-box-shadow: 0px 8px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 8px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 8px 5px rgba(50, 50, 50, 0.75);
	font-family:arial 11px;
	
}
#header ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
#main
{
    margin: auto;
    margin-top:120px;
    background-color: white;
    width: 50%;
    min-height: 400px;
}
#steps
{
    position:absolute;
    bottom:0px;
    right:0px;
    width:100%;
    font-family:arial 11px;
}
.step
{
    padding: 20px;
    margin: 50px;
    width: 150px;
    height: 40px
}