html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2
{
    font-family:CenturyGothic;
    font-size: 24px;
}
#left
{
float:left;
}
#right
{
text-align:right;
float:right;
}
#footer
{
	position:absolute;
	bottom:0px;
	right:0px;
	width:100%;
	background-color:white;
	border-top:solid 5px blue;
	font-family:arial 11px;
	
}
#footer ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}