html {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h2
{
    font-family:CenturyGothic;
    font-size: 24px;
}
.left
{
float:left;
}
.right
{
text-align:right;
float:right;
}
#header
{
	position:absolute;
	top:0px;
	right:0px;
	width:100%;
	background-color:white;
	border-bottom:solid 2px black;
    -webkit-box-shadow: 0px 8px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 8px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 8px 5px rgba(50, 50, 50, 0.75);
	font-family:arial 11px;
	
}
#header ul
{
list-style-type: none;
padding: 0px;
margin: 0px;
}
#main
{
    margin: auto;
    margin-top:200px;
    background-color: white;
    width: 50%;
}
#steps
{
    position:absolute;
    bottom:0px;
    right:0px;
    width:100%;
    font-family:arial 11px;
    padding: 30px;
}
.step
{
    background-color: white;
    padding: 20px;
    border: solid 1px #2f4f4f;
}